.lightbox {
    padding: 1em;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 2em ;
    img {
        border: 3px solid greenyellow;
        border-radius: 5em;
        padding: 0.1em;
        height: 80%;
        width: 80%;
    }
    h2 {
        font-size: 2em;
    }
    h4 { font-size: 2em;}
    p { 
        font-size: 1em;
        padding: 0.5em;
    }
}

//desktop view
@media screen and (min-width: 768px) {
    .lightbox {
        padding: 2.5em;
        background-color: aliceblue;
        border: 2px solid black;
        border-radius: 2em ;
        img {
            border: 3px solid #adff2f;
            border-radius: 5em;
            padding: 0.1em;
            height: 70%;
            width: 70%;
        }
        h2 {
            font-size: 7em;
        }
        h4 { font-size: 4em;}
        p { 
            font-size: 3em;
            padding: 1em;
        }
    }

}